# Python cache
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.venv/

# Database files
*.db
*.sqlite3

# Model files (optional, include if large)
*.pkl
*.joblib
*.h5

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log
*.pid